@tailwind base;
@tailwind components;
@tailwind utilities;

.ubuntu{
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
}